@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Calendar Styles */
.react-calendar { width: 100%; border: none; font-family: sans-serif; }
.react-calendar__tile { padding: 12px 0; }
.react-calendar__tile--active { background: #000 !important; color: #fff; border-radius: 6px; }
.react-calendar__tile:hover { background: #f3f4f6; border-radius: 6px; }
.react-calendar__navigation button { font-size: 1.2rem; }